<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>search</string>
	<key>payload</key>
	<dict>
		<key>input</key>
		<string>{
  "bcTrail" : {
    "searchKey" : "iphone 7 case",
    "bctIdentifierKey" : "03-11-201614:15:29",
    "breadcrumb" : [
      {
        "elementId" : "UIView+UILayoutContainerView[0]+UIView[0]+SXSearchBar[0]+SXSearchField[0]",
        "state" : "AWWebGatewayViewController",
        "textValue" : "",
        "action" : "click"
      },
      {
        "elementId" : "UIView+UILayoutContainerView[0]+UIView[0]+SXSearchBar[0]+SXSearchField[0]",
        "state" : "AWWebGatewayViewController",
        "textValue" : "iphone 7 case",
        "action" : "EnterSearchText"
      },
      {
        "state" : "AWWebGatewayViewController",
        "elementId" : "UIView+UILayoutContainerView[0]+UIView[0]+SXSearchBar[0]+SXSearchField[0]",
        "delay" : "3.000000,8.000000",
        "shouldWait" : "1",
        "textValue" : "iphone 7 case",
        "action" : "SearchWithText"
      }
    ],
    "launchConfig" : {
      "delay" : "1.500000,3.000000",
      "shouldWait" : "1"
    },
    "scrapeInput" : {
      "state" : "AWWebGatewayViewController",
      "action" : "EnterSearchText",
      "ancestry" : "SXSearchField+SXSearchBar+UIView+UILayoutContainerView+UIView+UIWindow"
    }
  },
  "entityAccessMethod" : [
    {
      "elementId" : "UIView+UILayoutContainerView[0]+UIView[0]+SXSearchBar[0]+SXSearchField[0]",
      "state" : "AWWebGatewayViewController",
      "ancestry" : "SXSearchField+SXSearchBar+UIView+UILayoutContainerView+UIView+UIWindow",
      "action" : "EnterSearchText"
    }
  ],
  "SupportedDeeplinkTypes" : [
    "bct"
  ],
  "editions" : [
    {
      "Version" : "17599.1",
      "Platform" : "iOS",
      "bundleId" : "com.amazon.Amazon"
    }
  ]
}</string>
		<key>mode</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
