<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>search</string>
	<key>payload</key>
	<dict>
		<key>input</key>
		<string>{
  "bcTrail" : {
    "searchKey" : "",
    "bctIdentifierKey" : "02-11-201618:00:22",
    "breadcrumb" : [
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : "click"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, -1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : ""
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, 1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : ""
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, -1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : ""
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, 1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : ""
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationBar[0]+UIButton[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : "click"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, -1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, 1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, 0}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, -1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : "click"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, 1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : "UILongPressGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, 1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, -1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, 0}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : "click"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : "UILongPressGestureRecognizer"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]",
        "state" : "AcquisitionWebViewController",
        "textValue" : "",
        "action" : "click"
      },
      {
        "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]",
        "state" : "AcquisitionWebViewController",
        "panDirection" : "{0, 1}",
        "textValue" : "",
        "action" : "UIPanGestureRecognizer"
      }
    ],
    "launchConfig" : {
      "delay" : "1.500000,3.000000",
      "shouldWait" : "1"
    },
    "scrapeInput" : {
      "state" : "LoginViewController",
      "action" : "UIPanGestureRecognizer",
      "ancestry" : "UIScrollView+UIView+UIViewControllerWrapperView+UINavigationTransitionView+UILayoutContainerView+UIView+UIView+UIWindow"
    }
  },
  "entityAccessMethod" : [
    {
      "elementId" : "UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+UIScrollView[0]",
      "state" : "LoginViewController",
      "panDirection" : "{1, 1}",
      "ancestry" : "UIScrollView+UIView+UIViewControllerWrapperView+UINavigationTransitionView+UILayoutContainerView+UIView+UIView+UIWindow",
      "action" : "UIPanGestureRecognizer"
    }
  ],
  "SupportedDeeplinkTypes" : [
    "bct"
  ],
  "editions" : [
    {
      "Version" : "774",
      "Platform" : "iOS",
      "bundleId" : "com.netflix.Netflix"
    }
  ]
}</string>
		<key>mode</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
