<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>search</string>
	<key>payload</key>
	<dict>
		<key>input</key>
		<string>{
  "bcTrail" : {
    "searchKey" : "Watch",
    "bctIdentifierKey" : "02-11-201618:08:13",
    "breadcrumb" : [
      {
        "elementId" : "UIView+UILayoutContainerView[0]+UINavigationBar[0]+UIButton[2]",
        "state" : "OSTKMenuViewController+OSTKContentViewController",
        "textValue" : "",
        "action" : "click"
      },
      {
        "elementId" : "UIView+UILayoutContainerView[0]+UINavigationBar[0]+UISearchBar[0]+UIView[0]+UISearchBarTextField[0]",
        "state" : "OSTKMenuViewController",
        "textValue" : "Watch",
        "action" : "EnterSearchText"
      },
      {
        "state" : "OSTKMenuViewController",
        "elementId" : "UIView+UILayoutContainerView[0]+UINavigationBar[0]+UISearchBar[0]+UIView[0]+UISearchBarTextField[0]",
        "delay" : "3.000000,8.000000",
        "shouldWait" : "1",
        "textValue" : "Watch",
        "action" : "SearchWithText"
      }
    ],
    "launchConfig" : {
      "delay" : "1.500000,3.000000",
      "shouldWait" : "1"
    },
    "scrapeInput" : {
      "state" : "OSTKMenuViewController+SearchResultsCollectionViewController",
      "action" : "click",
      "ancestry" : "Overstock.OSTKProductCell+UICollectionView+UIView+UIView+UIViewControllerWrapperView+UINavigationTransitionView+UILayoutContainerView+UIView+UIWindow"
    }
  },
  "entityAccessMethod" : [
    {
      "elementId" : "UIView+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+UIView[1]+UICollectionView[0]+Overstock.OSTKProductCell[3,0]",
      "state" : "OSTKMenuViewController+SearchResultsCollectionViewController",
      "ancestry" : "Overstock.OSTKProductCell+UICollectionView+UIView+UIView+UIViewControllerWrapperView+UINavigationTransitionView+UILayoutContainerView+UIView+UIWindow",
      "action" : "click"
    }
  ],
  "SupportedDeeplinkTypes" : [
    "bct"
  ],
  "editions" : [
    {
      "Version" : "1",
      "Platform" : "iOS",
      "bundleId" : "com.overstock.app"
    }
  ]
}</string>
		<key>mode</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
