<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>search</string>
	<key>payload</key>
	<dict>
		<key>input</key>
		<string>{
  &quot;bcTrail&quot; : {
    &quot;searchKey&quot; : &quot;&quot;,
    &quot;bctIdentifierKey&quot; : &quot;02-11-201618:00:22&quot;,
    &quot;breadcrumb&quot; : [
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;click&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, -1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, 1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, -1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, 1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationBar[0]+UIButton[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;click&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, -1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, 1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, 0}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, -1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;click&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, 1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UILongPressGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, 1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, -1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, 0}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;click&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UILongPressGestureRecognizer&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]+WKContentView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;click&quot;
      },
      {
        &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+WKWebView[0]+WKScrollView[0]&quot;,
        &quot;state&quot; : &quot;AcquisitionWebViewController&quot;,
        &quot;panDirection&quot; : &quot;{0, 1}&quot;,
        &quot;textValue&quot; : &quot;&quot;,
        &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
      }
    ],
    &quot;launchConfig&quot; : {
      &quot;delay&quot; : &quot;1.500000,3.000000&quot;,
      &quot;shouldWait&quot; : &quot;1&quot;
    },
    &quot;scrapeInput&quot; : {
      &quot;state&quot; : &quot;LoginViewController&quot;,
      &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;,
      &quot;ancestry&quot; : &quot;UIScrollView+UIView+UIViewControllerWrapperView+UINavigationTransitionView+UILayoutContainerView+UIView+UIView+UIWindow&quot;
    }
  },
  &quot;entityAccessMethod&quot; : [
    {
      &quot;elementId&quot; : &quot;UIView+UIView[0]+UILayoutContainerView[0]+UINavigationTransitionView[0]+UIViewControllerWrapperView[0]+UIView[0]+UIScrollView[0]&quot;,
      &quot;state&quot; : &quot;LoginViewController&quot;,
      &quot;panDirection&quot; : &quot;{1, 1}&quot;,
      &quot;ancestry&quot; : &quot;UIScrollView+UIView+UIViewControllerWrapperView+UINavigationTransitionView+UILayoutContainerView+UIView+UIView+UIWindow&quot;,
      &quot;action&quot; : &quot;UIPanGestureRecognizer&quot;
    }
  ],
  &quot;SupportedDeeplinkTypes&quot; : [
    &quot;bct&quot;
  ],
  &quot;editions&quot; : [
    {
      &quot;Version&quot; : &quot;774&quot;,
      &quot;Platform&quot; : &quot;iOS&quot;,
      &quot;bundleId&quot; : &quot;com.netflix.Netflix&quot;
    }
  ]
}</string>
		<key>mode</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
